.custom-image-container {
  width: 100%;
  position: relative;
}
.custom-image-container > span {
  position: unset !important;
}
.custom-image-container .custom-image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  border-radius: 12px;
}
