# Comment System (Giscus)
# https://giscus.app/
NEXT_PUBLIC_GISCUS_REPO=
NEXT_PUBLIC_GISCUS_REPOSITORY_ID=
NEXT_PUBLIC_GISCUS_CATEGORY=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=

# Spotify Now Playing
# https://developer.spotify.com/documentation/web-api/reference/get-the-users-currently-playing-track
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# Google API (YouTube stats)
# https://developers.google.com/youtube/v3/getting-started
GOOGLE_API_KEY=

# Google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Authentication
# https://next-auth.js.org/getting-started/example
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Github OAuth
# https://github.com/settings/applications/new
OAUTH_CLIENT_KEY=
OAUTH_CLIENT_SECRET=

# Github API (Github stats)
# https://github.com/settings/tokens/new
GITHUB_TOKEN=

# Database URL
DATABASE_URL=<DATABASE>://<HOST>:<PORT>/<DB>

# Just some random string (used for hashing)
# You can use https://www.useapassphrase.com/ to generate the string
IP_ADDRESS_SALT=

# WakaTime API Key (Coding hours)
# https://wakatime.com/api-key/
WAKATIME_API_KEY=

# Discord Webhook (Events)
DISCORD_WEBHOOK_URL=

# Umami (real-time visitor counter)
UMAMI_DATABASE_URL=
NEXT_PUBLIC_UMAMI_URL=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
NEXT_PUBLIC_UMAMI_WEBSITE_SHARE_URL=
