# Dependencies
node_modules/
.pnp/
.pnp.*

# Local env files
.env*

# Turbo
.turbo/

# Vercel
.vercel/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc
.DS_Store
*.pem

# Build outputs
.next/
out/
build/
dist/
.eslint-config-inspector/

# Database
honghong-me.db
honghong-me.db-shm
honghong-me.db-wal

# MDX
.mdx/

# Testing
playwright-report/
test-results/
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts
