@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-bg: #fff;
    --accent-fg: #000;

    --accent-1: #fafafa;
    --accent-2: #eaeaea;
    --accent-3: #999;
    --accent-4: #888;
    --accent-5: #666;
    --accent-6: #444;
    --accent-7: #333;
    --accent-8: #111;

    --hover: #f3f2f2;

    --danger: #e00;
  }

  .dark:root {
    --accent-bg: #000;
    --accent-fg: #fff;

    --accent-1: #111;
    --accent-2: #333;
    --accent-3: #444;
    --accent-4: #666;
    --accent-5: #888;
    --accent-6: #999;
    --accent-7: #eaeaea;
    --accent-8: #fafafa;

    --hover: #232323;

    --danger: red;
  }
}
