@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hong-bg: #fff;
  --hong-fg: #000;

  --theme-1: #fffcfc;
  --theme-2: #fff8f7;
  --theme-3: #fff0ee;
  --theme-4: #ffe6e2;
  --theme-5: #fdd8d3;
  --theme-6: #fac7be;
  --theme-7: #f3b0a2;
  --theme-8: #ea9280;
  --theme-9: #e54d2e;
  --theme-10: #db4324;
  --theme-11: #ca3214;
  --theme-12: #341711;

  --accent-1: #fafafa;
  --accent-2: #eaeaea;
  --accent-3: #999;
  --accent-4: #888;
  --accent-5: #666;
  --accent-6: #444;
  --accent-7: #333;
  --accent-8: #111;
}

.dark:root {
  --hong-bg: #000;
  --hong-fg: #fff;

  --theme-1: #1d1412;
  --theme-2: #2a1410;
  --theme-3: #3b1813;
  --theme-4: #481a14;
  --theme-5: #541c15;
  --theme-6: #652016;
  --theme-7: #7f2315;
  --theme-8: #a42a12;
  --theme-9: #e54d2e;
  --theme-10: #ec5e41;
  --theme-11: #f16a50;
  --theme-12: #feefec;

  --accent-1: #111;
  --accent-2: #333;
  --accent-3: #444;
  --accent-4: #666;
  --accent-5: #888;
  --accent-6: #999;
  --accent-7: #eaeaea;
  --accent-8: #fafafa;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-red-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-600;
}

::selection {
  @apply bg-[rgba(249,6,6,0.05)] text-[#f90606] dark:bg-[rgba(249,6,6,0.2)] dark:text-[#ff4c4c];
}

* {
  text-rendering: geometricprecision;
  -webkit-tap-highlight-color: transparent;
}

pre,
code {
  @apply !font-code;
}

[data-rehype-pretty-code-fragment] {
  @apply relative;
}

div[data-rehype-pretty-code-title][data-theme='light'],
div[data-rehype-pretty-code-fragment] pre[data-theme='light'],
div[data-rehype-pretty-code-fragment] pre[data-theme='light'] ~ button {
  @apply block dark:hidden;
}

div[data-rehype-pretty-code-title][data-theme='dark'],
div[data-rehype-pretty-code-fragment] pre[data-theme='dark'],
div[data-rehype-pretty-code-fragment] pre[data-theme='dark'] ~ button {
  @apply hidden dark:block;
}

span[data-rehype-pretty-code-fragment] code[data-theme='light'] {
  @apply inline dark:hidden;
}

span[data-rehype-pretty-code-fragment] code[data-theme='dark'] {
  @apply hidden dark:inline;
}

a.animated {
  @apply relative before:absolute before:-bottom-0.5 before:left-0 before:h-0.5 before:w-full before:origin-right before:scale-x-0 before:rounded before:bg-hong-fg before:transition-transform before:duration-300 before:ease-in-out before:content-[""] hover:before:origin-left hover:before:scale-x-100;
}
