@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --hong-bg: #000;
    --hong-fg: #fff;

    --accent-1: #111;
    --accent-2: #333;
    --accent-3: #444;
    --accent-4: #666;
    --accent-5: #888;
    --accent-6: #999;
    --accent-7: #eaeaea;
    --accent-8: #fafafa;
  }

  body {
    @apply overflow-x-hidden bg-hong-bg font-default text-hong-fg;
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    @apply bg-red-600;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-red-700;
  }

  ::selection {
    @apply bg-red-600 text-white;
  }

  * {
    text-rendering: geometricprecision;
    -webkit-tap-highlight-color: transparent;
  }

  pre,
  code {
    @apply !font-code;
  }

  [data-rehype-pretty-code-fragment] {
    @apply relative;
  }

  a.animated {
    @apply relative before:absolute before:-bottom-0.5 before:left-0 before:h-0.5 before:w-full before:origin-right before:scale-x-0 before:rounded before:bg-hong-fg before:transition-transform before:duration-300 before:ease-in-out before:content-[""] hover:before:origin-left hover:before:scale-x-100;
  }
}
