/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles 
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */

/* Code Title */
.rehype-code-title {
  color: #fff;
  margin: 0 0.5rem -1.8rem 0.5rem;
  background-color: #24283b;
  border-radius: 0.375rem 0.375rem 0 0;
  padding: 12px 24px;
}
.rehype-code-title + pre {
  border-radius: 0 0 0.375rem 0.375rem;
}

/* Code block styles */
.code-highlight {
  float: left;
  min-width: 100%;
}

.code-highlight .code-line:hover {
  background-color: rgba(64, 64, 64, 0.5);
}

.code-line {
  margin: 0 -12px;
  display: block;
  border-left: 12px;
  border-color: transparent;
  padding: 0 12px;
}

.code-line.inserted {
  background-color: rgba(34, 197, 94, 0.2);
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2);
}

.highlight-line {
  margin: 0 -12px;
  border-left-width: 16px;
  border-color: rgb(239 68 68);
  background-color: rgba(55, 65, 81, 0.5);
}

.line-number::before {
  margin-right: 16px;
  margin-left: -8px;
  display: inline-block;
  width: 16px;
  text-align: right;
  color: rgb(156 163 175);
  content: attr(line);
}

/* Token styles */
/**
 * MIT License
 * Copyright (c) 2018 Sarah Drasner
 * Sarah Drasner's[@sdras] Night Owl
 * Ported by Sara vieria [@SaraVieira]
 * Added by Souvik Mandal [@SimpleIndian]
 */
.token.atrule {
  color: #c792ea;
}

.token.attr-name {
  color: #ffcb6b;
}

.token.attr-value {
  color: #c3e88d;
}

.token.attribute {
  color: #c3e88d;
}

.token.boolean {
  color: #c792ea;
}

.token.builtin {
  color: #ffcb6b;
}

.token.cdata {
  color: #80cbc4;
}

.token.char {
  color: #80cbc4;
}

.token.class {
  color: #ffcb6b;
}

.token.class-name {
  color: #f2ff00;
}

.token.color {
  color: #f2ff00;
}

.token.comment {
  color: #b9b9b9;
}

.token.constant {
  color: #c792ea;
}

.token.deleted {
  color: #f07178;
}

.token.doctype {
  color: #546e7a;
}

.token.entity {
  color: #f07178;
}

.token.function {
  color: #c792ea;
}

.token.hexcode {
  color: #f2ff00;
}

.token.id {
  color: #c792ea;
  font-weight: bold;
}

.token.important {
  color: #c792ea;
  font-weight: bold;
}

.token.inserted {
  color: #80cbc4;
}

.token.keyword {
  color: #c792ea;
  font-style: italic;
}

.token.number {
  color: #fd9170;
}

.token.operator {
  color: #89ddff;
}

.token.prolog {
  color: #546e7a;
}

.token.property {
  color: #80cbc4;
}

.token.pseudo-class {
  color: #c3e88d;
}

.token.pseudo-element {
  color: #c3e88d;
}

.token.punctuation {
  color: #89ddff;
}

.token.regex {
  color: #f2ff00;
}

.token.selector {
  color: #f07178;
}

.token.string {
  color: #c3e88d;
}

.token.symbol {
  color: #c792ea;
}

.token.tag {
  color: #f07178;
}

.token.unit {
  color: #f07178;
}

.token.url {
  color: #fd9170;
}

.token.variable {
  color: #f07178;
}

.token.table {
  display: inline;
}
