@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 4 1 2;
    --background-lighter: 12 9 10;

    --foreground: 255 255 255;

    --muted-foreground: 135 135 136;

    --accent: 14 14 16;
    --accent-highlight: 22 22 22;

    --border: 32 32 32;
    --border-primary: 250 250 250;
    --border-highlight: 40 40 40;

    --ring: 75 75 75;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground relative font-sans antialiased;
  }
}

@layer components {
  .h-content {
    min-height: calc(100vh - 416px - 96px - 96px - 64px - 24px);
  }

  @media (max-width: 640px) {
    .h-content {
      min-height: calc(100vh - 600px - 96px - 96px - 64px - 24px);
    }
  }
}
