@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 99.7%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15.1%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 94.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 88%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 12.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 8%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14%;
    --input: 0 0% 14%;
    --ring: 0 0% 14.9%;
  }

  * {
    @apply border-border;
  }
  body {
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    @apply bg-background text-foreground relative font-sans antialiased;
  }
}

@layer components {
  .h-content {
    min-height: calc(100vh - 416px - 96px - 96px - 64px - 24px);
  }

  @media (max-width: 640px) {
    .h-content {
      min-height: calc(100vh - 600px - 96px - 96px - 64px - 24px);
    }
  }
}

.shiki span {
  color: var(--shiki-light);
}

.dark .shiki span {
  color: var(--shiki-dark);
}

pre.shiki .line {
  font-size: 13px;
  padding: 0 theme(spacing.4);
}

pre.shiki .highlighted {
  width: 100%;
  display: inline-block;
  background-color: theme('colors.primary.DEFAULT / 10%');
}
