.shiki span {
  color: var(--shiki-light);
}

.dark .shiki span {
  color: var(--shiki-dark);
}

pre.shiki {
  font-size: 13px;
}

pre.shiki .highlighted {
  margin: 0 -16px;
  padding: 0 16px;
  display: inline-block;
  min-width: calc(100% + 32px);
  background-color: color-mix(in oklab, var(--color-primary) 10%, transparent);
  line-height: 20px;
}
